/* Start Global Element */
:root {
    --transition-time: 0.4s;
    --main-color: #795548;
    --primary-color: #f3f4fd;
    --secondary-color: #333;
    --transition-time: 0.4s;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
body {
    font-family: "Roboto", sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.vanish {
    display: none;
}
/* End Global Element */
/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/* Large*/
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* X-Large */
@media (min-width:1400px) {
    .container {
        width: 1370px;
    }
}
@media (max-width:991px) {
    html {
        font-size: 14px;
    }
}
@media (max-width:767px) {
    html {
        font-size: 12px;
    }
}
/* Start Global Element */
/* Start Main Element */
.house {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    perspective: 200px;
}
.rooms {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.rooms > div {
    position: absolute;
    width: inherit;
    height: inherit;
    transition: var(--transition-time);
}
.layer {
    z-index: 2;
}
.rooms > div.outside {
    transform: translateZ(0) rotate(0);
}
.rooms > div:not(:first-child) {
    cursor: pointer;
}
.rooms > div .overlay {
    position: absolute;
    width: inherit;
    height: inherit;
    transition: var(--transition-time);
    transform: translateY(0);
    display: flex;
    z-index: 5;
}
.rooms > .overlay.show {
    transform: translate(0,0);
}
.rooms > div .container.go {
    animation: show 1s forwards;
}
@keyframes show {
    from {
        opacity: 0;
        transform: translateY(30px);
        filter: blur(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}
.house > i,
.rooms > div > .see {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 20px;
    font-size: 24px;
    z-index: 1000;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    color: #ffff;
    transition: var(--transition-time);
    display: flex;
    justify-content: center;
}
.house > span i {
    position: absolute;
    z-index: 1000;
    padding: 10px;
    color: var(--primary-color);
    font-size: 35px;
    bottom: 15px;
    left: 70px;
    animation: point-on 0.4s infinite alternate;
}
@keyframes point-on {
    to {
        transform: translateX(15px);
    }
}
.house > i {
    bottom: 20px;
}
.rooms > div > .see {
    bottom: 70px;
} 
.house > i:hover,
.rooms > div > i:hover {
    background-color: transparent;
    color: black;
}
.house .exit:hover::after,
.rooms > div > .see:hover::after {
    content: attr(data-text);
    position: absolute;
    left: 50px;
    top: 0;
    background-color: #000;
    border-radius: 6px;
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    width: fit-content;
}
.hide {
    transform: translateX(-200px);
}
/* End Main Element */
/* Start front page */
.front {
    transform: translateZ(200px);
    z-index: 10;
    background-image: url(../images/422258026_2436121316595171_1823563734395984555_n.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 10%;
    filter: contrast(130%);
    display: flex;
    align-items: center;
}

.front .who {
    color: var(--main-color);
    margin-right: 40px;
    text-align: right;
    flex: 1;
}
.front .who h1 {
    font-size: 3rem;
}
.front .who h1 span {
    font-family: "Playwrite CU", cursive;
    font-size: 2rem;
}
.front .who h3 {
    font-size: 2rem;
    height: 40px;
    text-indent: 8px;
    overflow: hidden;
}
.front .who h3 span {
    display: block;
    height: 40px;
    overflow: hidden;
    margin: 0 0 0 auto;
    animation: move 6s infinite ease alternate;
}
@keyframes move {
    10% {
        transform: translateY(0px);
    }
    55% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(-80px);
    }
}
.front .who > p {
    margin-left: auto;
    width: 70%;
    line-height: 1.7;
    font-size: 1rem;
}
.front .emails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    position: absolute;
    bottom: 50px;
    right: 40px;
}
.front .emails > div {
    display: flex;
    align-items: center;
    gap: 15px;
}
.front .emails > div div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--main-color);
    background-color: #cccccc88;
    padding: 5px;
    border-radius: 6px;
    position: relative;
}
.front .emails > div div::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent #cccccc88 transparent transparent;
}
.front .emails i {
    color: var(--main-color);
    font-size: 2rem;
}
.front .follow {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50px;
    right: 40px;
    color: var(--main-color);
}
.front .follow h4 {
    font-size: 1.5rem;
}
.front .follow span {
    background-color: var(--main-color);
    width: 20px;
    height: 2px;
}
.front .follow i {
    cursor: pointer;
    transition: var(--transition-time);
    font-size: 1.25rem;
}
.front .follow i:hover {
    transform: translateY(3px);
}
@media (max-width:767px) {
    .front .who,
    .front .who > p {
        text-align: center;
        margin: 0 auto;
    }
}
/* End front page */
/* Start back page */
.back {
    transform: translateZ(-350px);
    background-color: var(--secondary-color);
    color: var(--main-color);
    position: relative;
}
.back .overlay {
    background-image: radial-gradient( #eee,#777);
    color: var(--secondary-color);
}
.back .container > span {
    background-color: var(--primary-color);
    width: 60px;
    height: 60px;
}
.back .container .me h2 {
    font-size: 2rem;
    text-align: center;
}
.back .container .me h2 span {
    font-family: "Playwrite CU", cursive;
    font-size: 0.75em;
}
.back .container .me p {
    line-height: 1.7;
}
.back .container .details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}
.back .container .details > div {
    display: flex;
    flex-direction: column;
    position: relative;
}
.back .container .details ul li {
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
    border-bottom: 2px solid var(--primary-color);
}
.back .container .details ul li span {
    font-weight: bold;
}
.back .container .details a {
    display: block;
    padding: 10px;
    font-size: 1.25rem;
    width: fit-content;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--main-color);
    transition: var(--transition-time);
    position: absolute;
    bottom: -60px;
    right: 0;
    font-weight: bold;
    box-shadow: 0px 0px 20px #777;
}
.back .container .details a:hover {
    background-color: transparent;
    box-shadow: 0px 0px 20px var(--main-color);
}
.back .container .photo-about {
    width: 400px;
    height: 600px;
}
.rooms  .back .overlay {
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.rooms  .back .overlay.show {
    width: 0;
    height: 0;
}
.back .overlay > span,
.back .animation > span {
    position: absolute;
    width: 40px;
    height: 40px;
    animation: animate 1s infinite linear;
    opacity: 0;
}
.back .overlay > span {
    background-color: rgba(255, 255, 255, 0.8);
}
.back .animation > span {
    background-color: var(--primary-color);
}
.back .overlay > span:first-child,
.back .animation > span:first-child {
    top: 12%;
    left: 42%;
    animation-delay: 2s;
}
.back .overlay > span:nth-child(2),
.back .animation > span:nth-child(2) {
    top: 72%;
    left: 47%;
    animation-delay: 1.8s;
}
.back .overlay > span:nth-child(3),
.back .animation > span:nth-child(3) {
    top: 17%;
    left: 6%;
    animation-delay: 1.6s;
}
.back .overlay > span:nth-child(4),
.back .animation > span:nth-child(4) {
    top: 20%;
    left: 60%;
    animation-delay: 1.4s;
}
.back .overlay > span:nth-child(5),
.back .animation > span:nth-child(5) {
    top: 67%;
    left: 6%;
    animation: animate 1.2s linear infinite;
}
.back .overlay > span:nth-child(6),
.back .animation > span:nth-child(6) {
    top: 80%;
    left: 70%;
    animation-delay: 1s;
}
.back .overlay > span:nth-child(7),
.back .animation > span:nth-child(7) {
    top: 60%;
    left: 80%;
    animation-delay: 0.8s;
}
.back .overlay > span:nth-child(8),
.back .animation > span:nth-child(8) {
    top: 35%;
    left: 45%;
    animation-delay: 0.6s;
}
.back .overlay > span:nth-child(9),
.back .animation > span:nth-child(9) {
    top: 77%;
    left: 92%;
    animation-delay: 0.4s;
}
.back .overlay > span:nth-child(10),
.back .animation > span:nth-child(10) {
    top: 90%;
    left: 25%;
    animation-delay: 0.2s;
}
.back .overlay > span:last-child,
.back .animation > span:last-child {
    top: 20%;
    left: 80%;
}
@keyframes animate {
    from {
        transform: scale(0) rotate(0);
        opacity: 1;
    }
    to {
        transform: scale(1.3) rotate(360deg);
        opacity: 0;
    }
}
@media (max-width:767px) {
    .back .container .photo-about {
        width: 300px;
        height: 250px;
    }
    .back .container .details {
        flex-direction: column;
    }
    .back .container .details > div {
        flex-direction: row;
        gap: 10px;
    }
    .back .container .details ul li {
        font-size: 12px;
    }
}
/* end back page */
/* Start left page */
.left {
    transform: rotateY(90deg);
    transform-origin: left;
    background-color: var(--secondary-color);
}
.left .overlay {
    background-image: linear-gradient(to left, #ccc,#999, #2b1711);
    text-indent: 50%;
    font-size: 30px;
    align-items: center;
    color: #fff;
}
.left .overlay.show {
    transform: translateX(-100%);
}
.left .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    align-content: center;
    height: 100%;
}
.left .container .card {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    color: var(--main-color);
    transition: var(--transition-time);
    box-shadow: 5px 5px 5px #777;
}
.left .container .card:hover {
    box-shadow: 0px 0px 20px var(--main-color);
    background-color: transparent;
}
.left .container .card i {
    font-size: 1.25em;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 6px;
    margin: 10px 0;
    transition: var(--transition-time);
}
.left .container .card:hover i {
    background-color: var(--primary-color);
}
.left .container .card h4 {
    font-size: 1.5em;
    margin: 10px 0;
}
.left .container .card p {
    line-height: 1.7;
}
.left .more {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    font-weight: bold;
    background-color: var(--primary-color);
    cursor: pointer;
    padding: 5px;
    border-radius: 6px;
    font-size: 16px;
    transition: var(--transition-time);
    box-shadow: 0px 0px 20px #777;
}
.left .more:hover {
    background-color: transparent;
    box-shadow: 0px 0px 20px var(--main-color);
}
@media (max-width:1199px) {
    .left .container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
@media (max-width:991px) {
    .left .container .card {
        padding: 10px;
    }
}
/* End left page */
/* Start right page */
.right {
    transform: rotateY(-90deg);
    transform-origin: right;
    background-color: var(--secondary-color);
}
.right .overlay {
    background-image: linear-gradient(to right, #ccc, #999, #2b1711);
    text-indent: -50%;
    justify-content: flex-end;
    font-size: 2rem;
    align-items: center;
    color: #fff;
}
.rooms > .right .overlay.show {
    transform: translateX(100%);
}
.right .container > h2 {
    color: var(--primary-color);
    font-size: 2.5em;
    text-align: center;
    width: fit-content;
    position: relative;
    margin: 60px auto;
}
.right .container > h2::before {
    content:'';
    position: absolute;
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
    background-color:var(--main-color);
    left:-25px;
    top: -20px;
    animation: focus 5s infinite;
}
@keyframes focus {
    25% {
        left: calc(100% + 5px);
        top:-20px;
    }
    50% {
        left: calc(100% + 5px);
        top: 41px;
    }
    75% {
        left: -25px;
        top: 41px;
    }
    100% {
        left: -25px;
        top: -20px;
    }
}
.right .connect {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
}
.right .connect > div {
    background-color: var(--primary-color);
    padding: 30px 20px;
    color: var(--main-color);
    border-radius: 6px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    box-shadow: 0px 0px 5px var(--primary-color);
    transition: var(--transition-time);
}
.right .connect > div:hover {
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 5px var(--main-color);
}
.right form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.right form .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
.right form .info > input,
.right form .message textarea {
    border-radius: 6px;
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    transition: var(--transition-time);
    box-shadow: 0px 0px 5px var(--primary-color);
    color: var(--main-color);
    caret-color: var(--main-color);
}
.right form .message {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.right form .message textarea {
    resize: none;
    flex: 1;
}
.right form .message button {
    background-color: var(--main-color);
    border-radius: 6px;
    border: none;
    position: absolute;
    bottom: -80px;
    right: 0;
    padding: 20px;
    cursor: pointer;
    transition: var(--transition-time);
    color: #fff;
}
.right form .info > input:focus,
.right form .message textarea:focus {
    outline: none;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 5px var(--main-color);
}
.right form .info > input::placeholder,
.right form .message textarea::placeholder {
    color: var(--main-color);
}
.right form .message button:hover {
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 5px var(--main-color);
}
@media (max-width:767px) {
    .right .connect {
        margin-bottom: 30px;
    }
    .right .connect > div {
        padding: 10px;
    }
    .right .connect > div {
        font-size: 14px;
    }
}
/* End right page */
/* Start top page */
.top {
    transform: rotateX(-90deg);
    transform-origin: top;
    background-color: var(--secondary-color);
    position: relative;
}
.top .overlay {
    background-image: linear-gradient(to bottom , var(--main-color), #ccc);
    font-size: 2.5rem;
    justify-content: center;
    color: #fff;
    line-height: 150px;
}
.top .overlay.show {
    transform: translateY(-100%);
}
.top h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--main-color);
    margin: 50px auto;
}
.top .container {
    perspective: 800px;
    width:100%;
    /* height: 100%; */
    transition: var(--transition-time);
    position: absolute;
    margin: 50px 0;
}
.top .container .box {
    transform: rotateX(40deg);
    box-shadow: 0px 10px 50px black;
    transition: var(--transition-time);
    cursor: pointer;
    text-align: center;
    color: var(--main-color);
    position: absolute;
    width: 30%;
    height: 300px;  
}

.top .container .box:hover {
    transform: rotateX(0deg) translateZ(50px);
}
.top .container .box img {
    width: 100%;
    height: 100%;
}
.top .container .box a {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.top .container .box h3 {
    opacity: 0;
    transition: var(--transition-time);
}
.top .container .box:hover h3 {
    opacity: 1;
}
.top .slide {
    display: flex;
    position: absolute;
    top: 620px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-around;
    width: 100%;
}
.top .slide span:first-child,
.top .slide span:nth-child(2) {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: var(--main-color);
    transition: var(--transition-time);
}
.top .slide span:first-child i,
.top .slide span:nth-child(2) i {
    font-size: 30px;
}
.no-click {
    pointer-events: none;
    opacity: 0.5;
}
/* End top page */
/* Start bottom page */
.bottom {
    transform: rotateX(90deg);
    transform-origin: bottom;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
}
.bottom .overlay {
    background-image: linear-gradient(to top , var(--main-color), #ccc);
    font-size: 2.5rem;
    justify-content: center;
    color: #fff;
    line-height: 150px;
    align-items: flex-end;
} 
.rooms > .bottom .overlay.show {
    transform: translateY(100%);
}
.bottom .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.bottom .container .ability {
    background-color: var(--primary-color);
    display: flex;
    gap: 20px;
    align-items: center;
    padding:20px;
    border-radius: 6px;
    position: relative;
}
.bottom .container .ability::before {
    content: attr(data-progress);
    position: absolute;
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--main-color);
    right: 0;
    top: -25px;
}
.bottom .container .ability h3 {
    width: 120px;
    text-align: center;
    margin: 0;
}
.bottom .container .ability .progress {
    background-color: var(--secondary-color);
    flex: 1;
    height: 20px;
    border-radius: 6px;
    overflow: hidden;
}
.bottom .container .ability .progress span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
}
@media (max-width:767px) {
    .bottom .container {
        flex: 1;
    }
}
/* End bottom page */
